html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

/* Very helpful in many cases */
.lenis.lenis-smooth iframe,
.lenis.lenis-smooth video {
  pointer-events: none;
}